.photos {
  font-size: 14px;
  padding: 15px 0px;
}
.photos-wrapper {
  margin: auto 100px;
}
.heading-color {
  color: var(--primary-color) !important;
}
.pointer {
  cursor: pointer;
}
.custom-pp {
  margin: 0px;
  margin-top: 5px;
}
.custom-pp:hover {
  text-decoration: underline;
}